*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
.env
node_modules/
package-lock.json
yarn.lock
.vscode/
*.code-workspace
.idea/
.DS_Store
dist/
*.tsbuildinfo
logs/
*.log
npm-debug.log*
bower_components/
*.swp
*.swo
*~
*.tmp
*.temp
